<section class="references-section routableSection" id="references">
  <div class="title-box">
    <h1>REFERENCJE</h1>
  </div>
  <div class="references-box">
    <div class="references-box-overlay">
      <div class="icon-box">
        <p class="quotation-icon"></p>
      </div>
      <div class="reference-box">
        <p class="reference-text">
          Korzystałam z usług Studia Projektowania Wnętrz EWENEMENT. Projekt został wykonany terminowo z należytą
          starannością, z właściwą szczegółowością i trafnością przyjętych rozwiązań. Współpraca przebiegała w miłej i
          życzliwej atmosferze. Dostepność mailowa i telefoniczna o każdej porze dnia, zawsze mogłam skorzystać z
          dodatkowych informacji lub dokonać drobnych korekt. Z czystym sumieniem polecam panią architekt Ewelinę celem
          spełnienia swoich marzeń o przepięknym mieszkaniu.
        </p>
        <p class="reference-author">
          -- Anna, Piotrków Tryb. --
        </p>
      </div>
      <div class="references-nav-box">
        <button class="references-nav-item"></button>
        <button class="references-nav-item"></button>
      </div>
    </div>
  </div>
</section>