<section class="header-section" [class.top]="!home">
  <div class="container"> 
    <div class="header-section-wrapper">
          <img class="header-logo-img" src="../../assets/images/logo.png" alt="Ewenement" (click)="navigate('/home')">
          <div class="header-nav-box">
            <ul class="header-nav">
              <li class="header-nav-item" *ngFor="let section of sections">
                <a class="header-nav-link" (click)="navigate(section.url)">{{section.text}}</a>
              </li>
              <li class="header-nav-item">
                <a class="header-nav-img"></a>
              </li>
              <li class="header-nav-item">
                <a class="header-nav-link">EN</a>
              </li>
            </ul>
          </div>
    </div>
  </div>
</section>