<section class="about-section">
  <div class="description-box">
    <div class="description-box-overlay">
      <div class="description-wrapper">
        <p class="description-title">
          "EWENEMENT - 
        </p>
        <p class="description-text">
            - wyjątkowe, nietypowe zdarzenie, które wyróżnia się na tle codzienności..."
        </p>
        <br>
        <p class="description-text">
            Ukończyłam Wydział Architektury i Urbanistyki na Politechnice Krakowskiej 
            w 2008 roku. Już na studiach moje największe zainteresowanie wzbudzało właśnie projektowanie wnętrz. Po ukończeniu nauki dalej rozwijałam i realizowałam się 
            w tym kierunku. Tworzę swoje projekty za każdym razem z wielką pasją 
            i zaangażowaniem. Dążenie do doskonałości to cecha, która przyświeca mi przy każdym z nich. Dlatego pracę uznaję za zakończoną w momencie, gdy niczego nie można już dodać, ani odjąć, aby było lepiej. To właśnie jest "ewenement"... 
            Zapraszam
        </p>
        <br>
        <p class="description-text">
          Ewelina Cieplińska
        </p>
      </div>
    </div>
  </div>
</section>