<section class="contact-section routableSection parallax-section" id="contact">
    <div class="contact-info-box">
        <div class="contact-info-box-overlay">
            <p class="contact-info-email">
                wnetrza@ewenement.net
            </p>
            <p class="contact-info-phone-number">
                888-709-803
            </p>
            <p class="contact-info-adress">
                EWENEMENT, Ewelina Cieplińska, <br>
                Kraków
            </p>
        </div>
    </div>
    <div class="contact-form-box">
        <p class="contact-form-title">
            NAPISZ DO MNIE
        </p>
        <form class="contact-form">
            <div class="contact-form-fields-box">
                <input type="text" class="contact-form-field" placeholder="Imię i nazwisko (wymagane)">
                <input type="text" class="contact-form-field" placeholder="Email (wymagane)">
                <input type="text" class="contact-form-field" placeholder="Temat (wymagane)">
            </div>
            <div class="contact-form-fields-box">
                <textarea type="text" class="contact-form-field" placeholder="Twoja wiadomośc (wymagane)"></textarea>
                <button class="button-primary">
                    <img src="../../assets/images/mail-white.png" class="contact-form-submit-img">
                </button>
            </div>
        </form>
    </div>
</section>