<section class="intro-section routableSection" id="home">
  <div class="container">
      <div class="intro-nav-box">
          <ul class="intro-nav">
            <li class="intro-nav-item">
              <a class="intro-nav-link">PROJEKTOWANIE WNĘTRZ</a>
            </li>
            <li class="intro-nav-item">
                <a class="intro-nav-link">WIZUALIZACJE 3D</a>
            </li>
          </ul>
      </div>
  </div>
  <div class="intro-wide-logo-box">
    <div class="intro-wide-logo-addon">
      PROJEKTOWANIE WNĘTRZ
    </div>
    <img src="../../assets/images/logo-main.png" alt="Ewenement" class="intro-wide-logo">
  </div>
  <div class="intro-main-image-box">
    <img src="../../assets/images/intro_art.png" alt="Creative design" class="intro-main-image">
  </div>
  <div class="intro-round-logo-box">
    <img src="../../assets/images/round-logo-temp.png" alt="Ewenement" class="intro-round-logo-image">
  </div>
</section>