<section class="offer-section">
  <div class="offer-introduction-box">
  <p class="title">
    JAKOŚĆ TO DZISIAJ LUKSUS, A TY MASZ TO W ZASIĘGU RĘKI.
  </p>
  <p class="content">
    ZAJMUJĘ SIĘ PROJEKTOWANIEM WNĘTRZ PRYWATNYCH: <span class="content-inlet">DOMÓW</span> 
I <span class="content-inlet">MIESZKAŃ</span>. NAJWIĘKSZĄ SATYSFAKCJĘ DAJE MI SPEŁNIENIE OCZEKIWAŃ LUDZI ODNOŚNIE ICH WŁASNEGO KAWAŁKA MIEJSCA NA ZIEMI. TROSZCZĘ SIĘ O KAŻDY <span class="content-inlet">DETAL</span> ABY FINALNY PROJEKT BYŁ <span class="content-inlet">PERFEKCYJNY</span> DLA MNIE 
I DLA CIEBIE. <span class="content-inlet">KOMPLEKSOWA</span> USŁUGA PROJEKTOWANIA WNĘTRZ TO OSTATECZNIE ZBIÓR WIELU ELEMENTÓW, KTÓRE POZWOLĄ NA URZECZYWISTNIENIE TWOICH POTRZEB. TUTAJ MOŻESZ DOWIEDZIEĆ SIĘ JAK PRZEBIEGA CAŁY <span class="content-inlet">PROCES PROJEKTOWANIA</span>.
  </p>
  </div>
  <div class="parallax-box">
    <div class="parallax" parallax [ratio]="0.2" [initialTop]="100"></div>
  </div> 
  <div class="offer-description">
    <p class="title">PROJEKT JEST PREZENTOWANY W POSTACI <span class="inlet">DOKUMENTACJI</span>, KTÓRA ZAWIERA PROFESJONALNE ARCHITEKTONICZNE RYSUNKI:</p>
    <ul class="content">
        - RZUTY I WIDOKI ŚCIAN/PRZEKROJE <br>
        - FOTOREALISTYCZNE WIZUALIZACJE 3D <br>
        - RYSUNKI DETALI W WIĘKSZEJ SKALI <br>
        - DOKŁADNE RYSUNKI DLA WYKONAWCÓW
    </ul>
  </div> 
</section>