@import './app/styles/normalize.scss';
@import './app/styles/config.scss';

@font-face {
    font-family: 'Bebas-Neue-Light';
    src:url('./assets/fonts/Bebas-Neue-Light.woff') format('woff'),
        url('./assets/fonts/Bebas-Neue-Light.ttf.svg#Bebas-Neue-Light') format('svg'),
        url('./assets/fonts/Bebas-Neue-Light.ttf.eot'),
        url('./assets/fonts/Bebas-Neue-Light.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebasneue-light';
    src: url('./assets/fonts/bebasneue_light-webfont.woff') format('woff2'),
         url('./assets/fonts/bebasneue_light-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'HelveticaNeue-light';
    src: url('./assets/fonts/helveticaneue-light-webfont.eot') format('eot'),
    url('./assets/fonts/Helvetica-Neue-Light.woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: 16px;
    font-family: Bebas-Neue-Light, sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 5rem;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: auto;
    @media (max-width: 1280px) {
        padding: 0 40px;
    }
    @media (max-width: 992px) {
        padding: 0 32px;
    }
    @media (max-width: 768px) {
        padding: 0 20px;
    }
    @media (max-width: 576px) {
        padding: 0 15px;
    }
}